html {
    scroll-behavior: smooth;
    --green: #94C671;
    --gold: #C49406;
    --red: #930708;
    --white: #F5F5F5;
    --black: #252525;
    --gray: #454545;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
}

a {
    color: var(--white);
    text-decoration: none;
}

input, textarea {
    border: none;
    font-family: inherit;
    padding: .7em;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--gray);
}

::placeholder {
    color: var(--white);
    opacity: .6;
}

/* ---Section container--- */

.container {
    padding: 0em 1em 2em 1em;
    margin-bottom: 2em;
    max-width: 800px;
    margin: auto;
}

.site-btn {
    display: block;
    /* width: 90%; */
    border: none;
    background-color: var(--green);
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .8px;
    padding: .85em 0;
    margin: 0 2em 1em 2em;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 300ms;
    cursor: pointer;
    font-family: inherit;
}

.section-header {
    font-weight: 400;
    color: var(--green);
    letter-spacing: 1px;
    font-size: 2rem;
}

/* ---Intro--- */

.intro {
    margin-bottom: 2em;
    padding-bottom: 2em;
    background-image: url("imgs/abzijgen-leaf-left.svg"), 
                      url("imgs/abzijgen-leaf-right.svg"),
                      url("imgs/abzijgen-star.svg"),
                      url("imgs/abzijgen-star.svg"),
                      url("imgs/abzijgen-star.svg"),
                      url("imgs/abzijgen-star.svg"),
                      url("imgs/abzijgen-star.svg");
    background-repeat: no-repeat;
    background-size: 10%, /* leaf-left */
                     15%, /* leaf-right */
                     10%, /* star */
                     5%, /* star */
                     8%, /* star */
                     4%, /* star */
                     8%; /* star */
    background-position: 55% 4%, /* leaf-left */
                         67% 8%, /* leaf-right */
                         90% 6%, /* star 1 */
                         5% 34%, /* star 2 */
                         15% 37%, /* star 3 */
                         92% 67%, /* star 4 */
                         87% 71%; /* star 5 */
}
.intro__logo {
    margin-top: 60px;
    max-width: 525px;
}
.intro__tincture {
    max-width: 525px;
}
.intro__cbd {
    width: 95%;
    max-width: 525px;
}
.intro__colorado {
    color: var(--green);
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-top: .25em;
}
.intro__find-product {
    letter-spacing: .5px;
    margin-top: 30px;
}

.intro__find-btn {
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
}
.intro__contact-us {
    border-bottom: solid #F5F5F5 1px;
    letter-spacing: .7px;
}


/* ---About us--- */

.about-us {
    background-image: url(imgs/abzijgen-star.svg), 
                      url(imgs/abzijgen-star.svg), 
                      url(imgs/abzijgen-star.svg);
    background-repeat: no-repeat;
    background-size: 10%, 
                     5%, 
                     8%;
    background-position: 10% 0%, 
                         95% 91%, 
                         84% 98%;
}
.about-us__header {

}
.about-us__p {
    line-height: 1.7;
}
.about-us__drum {
    width: 80%;
}
.about-us__maraca {
    width: 50%;
}

/* ---In-store locations--- */

.locations {
    margin-bottom: 0;
    background-image: url(imgs/abzijgen-star.svg),
                      url(imgs/abzijgen-star.svg),
                      url(imgs/abzijgen-star.svg);
    background-repeat: no-repeat;
    background-size: 5%,
                     10%,
                     8%;
    background-position: 13% 75%,
                         91% 84%,
                         17% 92%;
}
.locations__header {

}
.locations__list {
    list-style: none;
    padding: 0;
}
.locations__list li {
    background-color: var(--gray);
    padding: 1em 0;
    margin-bottom: 1em;
    border-radius: 10px;
}

.locations__list li strong {
    color: var(--gold);
    font-size: 1.2rem;
}

/* ---Contact--- */

.contact {
    margin: 0 auto;
}
.contact__email-form {
    display: flex;
    flex-direction: column;
    margin: 0 0em;
}
.contact__email-form input, .contact__email-form textarea {
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.contact__btn {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 520px) {
    .intro {
        background-image: url("imgs/abzijgen-leaf-left.svg"), 
                          url("imgs/abzijgen-leaf-right.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg");
        background-size: 10%, /* leaf-left */
                         15%, /* leaf-right */
                         10%, /* star */
                         5%, /* star */
                         8%, /* star */
                         4%, /* star */
                         8%; /* star */
        background-position: 55% 1%, /* leaf-left */
                             67% 7%, /* leaf-right */
                             90% 6%, /* star 1 */
                             5% 37%, /* star 2 */
                             15% 40%, /* star 3 */
                             92% 72%, /* star 4 */
                             87% 76%; /* star 5 */
    }
}

@media (min-width: 625px) {
    .intro {
        background-image: url("imgs/abzijgen-leaf-left.svg"), 
                          url("imgs/abzijgen-leaf-right.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg");
        background-size: 10%, /* leaf-left */
                         15%, /* leaf-right */
                         10%, /* star */
                         5%, /* star */
                         8%, /* star */
                         4%, /* star */
                         8%; /* star */
        background-position: 55% 1%, /* leaf-left */
                             67% 4%, /* leaf-right */
                             90% 6%, /* star 1 */
                             5% 37%, /* star 2 */
                             15% 40%, /* star 3 */
                             92% 72%, /* star 4 */
                             87% 76%; /* star 5 */
    }
}

@media (min-width: 720px) {
    html {
        font-size: 23px;
    }

    .container {
        padding: 0em 2em 2em 2em;
    }
    
    .intro {
        background-image: url("imgs/abzijgen-leaf-left.svg"), 
                          url("imgs/abzijgen-leaf-right.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg");
        background-size: 8%, /* leaf-left */
                         12%, /* leaf-right */
                         7%, /* star 1 */
                         3%, /* star 1 */
                         6%, /* star 3 */
                         4%, /* star 4 */
                         8%; /* star 5 */
        background-position: 54% 1%, /* leaf-left */
                             63% 6%, /* leaf-right */
                             90% 6%, /* star 1 */
                             5% 37%, /* star 2 */
                             15% 40%, /* star 3 */
                             92% 72%, /* star 4 */
                             87% 76%; /* star 5 */
        margin-top: 2em;
    }
}

@media (min-width: 768px) {
    .intro {
        background-image: url("imgs/abzijgen-leaf-left.svg"), 
                          url("imgs/abzijgen-leaf-right.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg");
        background-size: 8%, /* leaf-left */
                         12%, /* leaf-right */
                         7%, /* star 1 */
                         3%, /* star 2 */
                         6%, /* star 3 */
                         4%, /* star 4 */
                         8%; /* star 5 */
        background-position: 54% 1%, /* leaf-left */
                             63% 6%, /* leaf-right */
                             90% 6%, /* star 1 */
                             5% 37%, /* star 2 */
                             10% 40%, /* star 3 */
                             92% 68%, /* star 4 */
                             87% 72%; /* star 5 */
    }
    .intro__find-btn {
        max-width: 350px;
    }
}

@media (min-width: 820px) {
    .intro {
        background-image: url("imgs/abzijgen-leaf-left.svg"), 
                          url("imgs/abzijgen-leaf-right.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg");
        background-size: 8%, /* leaf-left */
                         12%, /* leaf-right */
                         7%, /* star 1 */
                         3%, /* star 2 */
                         6%, /* star 3 */
                         4%, /* star 4 */
                         8%; /* star 5 */
        background-position: 54% 1%, /* leaf-left */
                             63% 4%, /* leaf-right */
                             90% 6%, /* star 1 */
                             5% 37%, /* star 2 */
                             10% 40%, /* star 3 */
                             92% 68%, /* star 4 */
                             87% 72%; /* star 5 */
    }
}

@media (min-width: 1150px) {
    body {
        background-image: url("imgs/abzijgen-drum-left.svg"),
                          url("imgs/abzijgen-maraca.svg"),
                          url("imgs/abzijgen-leaf-slight-right.svg"),
                          url("imgs/abzijgen-leaf-flat-right.svg"),
                          url("imgs/abzijgen-leaf-left.svg"),
                          url("imgs/abzijgen-flower-half-right.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-flower.svg");
        background-repeat: no-repeat;
        background-size: 20%,
                         20%,
                         20%,
                         15%,
                         14%,
                         10%,
                         5%,
                         5%,
                         5%,
                         10%;
        background-position: 17% 2%,
                             87% 2%,
                             -9% 10%,
                             10% 15%,
                             98% 17%,
                             0% 30%,
                             10% 40%,
                             95% 60%,
                             10% 90%,
                             100% 100%;
    }
    .site-btn {
        border-radius: 15px;
        transition: 300ms;
    }
    .site-btn:hover, .site-btn:focus {
        background-color: #99dd68;
    }
    .site-btn:active {
        transform: translateY(4px);
    }
    .intro {
        background-image: url("imgs/abzijgen-leaf-left.svg"), 
                          url("imgs/abzijgen-leaf-right.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg"),
                          url("imgs/abzijgen-star.svg");
        background-size: 8%, /* leaf-left */
                         12%, /* leaf-right */
                         7%, /* star 1 */
                         3%, /* star 2 */
                         6%, /* star 3 */
                         4%, /* star 4 */
                         8%; /* star 5 */
        background-position: 54% 1%, /* leaf-left */
                             63% 4%, /* leaf-right */
                             90% 40%, /* star 1 */
                             5% 37%, /* star 2 */
                             10% 40%, /* star 3 */
                             92% 68%, /* star 4 */
                             87% 72%; /* star 5 */
    }
    .container { 
    }
    .locations {
    }
    .locations__list {
        display: grid;
        grid-template: 1fr 1fr/ 1fr 1fr;
        gap: 1em;
    }
    .locations__list li {
        padding: 1em;
    }
    .locations__list li:nth-last-of-type(1) {
        grid-column: 1/3;
        justify-self: center;
    }
    .contact__btn {
        max-width: 300px;
    }
}